.feedback
	background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%), url('../img/feedback/feedback_bg.png')
	background-size: cover
	padding: 70px 0
	
.sayWrapper
	color: #ffffff
	text-align: center
	font-family: Playfair Display, sans-serif
	span
		opacity: 0.9
		font-size: 100px
		font-weight: 400
		letter-spacing: 3px
		
	p
		margin: 0 auto
		max-width: 770px
		opacity: 0.85
		font-size: 16px
		font-weight: 400
		line-height: 26px
		letter-spacing: 0.4px
		
	h2
		font-family: Roboto, sans-serif
		font-size: 14px
		font-weight: 900
		line-height: 22px
		letter-spacing: 0.7px
		padding: 52px 0 12px
		
	h3
		opacity: 0.7
		font-family: Roboto, sans-serif
		font-size: 13px
		font-weight: 300
		line-height: 22px
		
	&-nav
		max-width: 270px
		height: 65px
		margin: 20px auto 0
		&_m
			width: 45px!important
			height: 45px!important
			margin: 5px
			

		
			
		
