body {
	background-color: #FCE482;
}
main {
	display: flex;
	flex-wrap: wrap;
	background-color: #FCE482;
	justify-content: space-around;
	align-items: center;
}



.general {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	justify-content: space-around;
	margin: 50px 0;
	border-radius: 4px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	align-items: center;
	line-height: 26px;
	padding: 20px 0;
}
.general:hover {
	transform: scale(1.01);
	transition: all 0.5s ease;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.general h2 {
	color: #02995b;
	font-size: 70px;
	font-family: "Miso";
}

.general h3 {
	color: #333333;
	font-family: "Miso-light";
	font-size: 56px;
}

.general p {
	font-family: "Lato";
	color: #333333;
	text-align: center;
}

.two,
.two_point_five {
	width: 360px;
	height: 441px;

}

.three {
	width: 360px;
	height: 500px;
}

.three h2 {
	padding-bottom: 12px;
}

.hometask {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.hometask a {
	display: block;
	padding: 0 10px 10px;
}


@font-face {
	font-family: "Miso";
	src: url("../fonts/miso.otf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Miso-light";
	src: url("../fonts/miso-light.otf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Miso-bold";
	src: url("../fonts/miso-bold.otf");
	font-style: normal;
	font-weight: normal;
}